@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family:"Comfortaa", sans-serif;
}

#main__layout{
    height: 100vh;
    width: 100vw;
}

#first__block{
    height: 100%;
    width: 100%;
    margin: 0;
    background-image: url("/img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#login__card{
    position: relative;
    width: 50%;
    min-width: 300px;
    max-width: 500px;
    margin: auto;
    background-color: hsla(127, 22%, 48%, 0.325);
    border-radius: 50px;
}

#login__card h1{
    width: 100%;
    font-size: 3rem;
    margin: 5px auto;
    text-align: center;
}
#card__info{
    width: 80%;
    margin: 50px auto;
}

#card__info label, #card__info input{
    width: 100%;
}

#card__info label{
    height: 20px;
    margin: 5px auto;
    font-size: 1.4rem;
}

#card__info input{
    height: 40px;
    margin: 10px auto;
    font-size: 1.4rem;    
    border: 3px solid hsla(128, 22%, 48%, 0.663);
    border-radius: 10px;
    font-size:medium;
    font-weight: 500;
    outline: none;
}

#card__info input:focus{
    border: 3px solid hsla(129, 57%, 53%, 0.766);
}

#card__action{
    width: 80%;
    margin: 50px auto 10px auto;
}

#login__btn{
    position: relative;
    padding: 10px;
    margin: 10px auto;
    height: 50px;
    width: 100%;
    background-color: hsla(129, 57%, 53%, 0.766);
    border: 3px solid hsla(128, 22%, 48%, 0.663);
    border-radius: 10px;
    font-size: larger;
    font-weight: 800;
    cursor: pointer;
}

#login__btn:hover{
    background-color: hsla(129, 96%, 56%, 0.766);
}

#login__btn:focus{
    background-color:  hsla(129, 100%, 50%, 0.948);;
}